
  .example-sidenav{
    width: 50%;
  }


  .icon{
    background-color: transparent;

  }

  .head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size: xx-large;
    flex: 1 1 auto
  }

  .add-container {
    width: 100px;
    float: right;
  }

  .my-center-text {
    text-align: center;
    width: 100%;
  }



  :host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
  }

  :host ::ng-deep .ui-sortable-column-icon.pi.pi-fw.pi-sort .p-sortable-column-icon{
    visibility: hidden;
  }

  .ui-datatable .ui-sortable-column-icon {
    display: none !important;
  }

  .ag-body-horizontal-scroll-viewport {
    overflow-x: hidden!important;
  }

  .btn-container{
    width: 300px;
  }
  :host {
    display: flex;
    flex-direction: column;
    overflow:auto;
    flex: 1;
  }
