<!-- <div class="text">Alert Managment system</div> -->
<mat-card class="mat-card">
  <mat-card-content style="text-align: center">
    <form [formGroup]="frmLogin" class="example-form" autocomplete="off">
      <div>
        <div>
          <a>
            <img
              width="300"
              height="100"
              class="center"
              src="../../../../assets/images/tafe_logo.png"
            />
          </a>
        </div>
        <div>
          <mat-form-field style="width: 100%" appearance="outline">
            <input
              matInput
              type="text"
              formControlName="user_id"
              placeholder="User ID"
              required
            />

            <mat-error
              *ngIf="
                frmLogin.controls['user_id'].touched &&
                frmLogin.controls['user_id'].hasError('required')
              "
              class="help-block text-danger mat-error"
            >
              User Id is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%" appearance="outline">
            <input
              matInput
              formControlName="password"
              placeholder="Password"
              [type]="hide ? 'password' : 'text'"
              type="password"
              required
            /><mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error
              *ngIf="
                frmLogin.controls['password'].touched &&
                frmLogin.controls['password'].hasError('required')
              "
              class="help-block text-danger mat-error"
            >
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div style="float: right; margin-top: 0">
          <h5 (click)="forgotPassword()" class="forgot_pass">
            Forgot Password?
          </h5>
        </div> -->
        <!-- <div style="width: 60px; margin-top: 30px" class="center">
          <button mat-raised-button color="warn" routerLink="/home">
            Login
          </button>
        </div> -->
        <div class="example-button-row">
          <button
            mat-fab
            extended
            style="width: 500px"
            color="warn"
            (click)="login()"
          >
            <!-- routerLink="/home" -->
            Login
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
