<div style="height: 60px">
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <!-- <div class="app-logo"></div> -->
      <div routerLink="/home">
        <a>
          <img
            width="15%"
            height="15%"
            class="img-responsive"
            src="../../../../assets/images/logo-removebg-preview.png"
          />
        </a>
      </div>
      <div
        style="
          font-size: 24px;
          flex: 1 1 auto;
          font-family: Times New Roman, Times, serif;
          font-style: italic;
          font-weight: bold;
        "
      >
         Admin Screen
      </div>
      <!-- <img src="/ePPAP/src/assets/images/logo.png" width="500" height="600"> -->
      <span style="padding: 8px">
        <span *ngFor="let item of navItems">
          <span>
            <mat-icon>{{ item.iconName }}</mat-icon></span
          >
          <!-- Handle branch node buttons here -->
          <span *ngIf="item.children && item.children.length > 0">
            <button mat-button [matMenuTriggerFor]="menu.childMenu">
              {{ item.displayName }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <span>
              <app-menu-item #menu [items]="item.children"></app-menu-item>
            </span>
          </span>
          <!-- Leaf node buttons here -->
          <span *ngIf="!item.children || item.children.length === 0">
            <button mat-button color="primary" [routerLink]="item.route">
              {{ item.displayName }}
            </button>
          </span>
        </span>
      </span>
      <div class="profile_font" style="padding-bottom: 8px">
        {{ "Hey" + ","  }}
      </div>
      <button
        mat-button
        color="primary"
        [matMenuTriggerFor]="menu"
        style="width: 50px; float: right"
      >
        <div>
          <mat-icon class="profile">account_circle</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout($event)">
          <mat-icon>logout</mat-icon><span>Logout</span>
        </button>
      </mat-menu>

     
    </mat-toolbar-row>
  </mat-toolbar>
</div>
