<mat-card style="width: 98%; margin: auto">
  <mat-card-header style="flex: 1 1 auto">
    <div class="center" style="width: 100%">
      <h2 class="page-title">{{ pageHeading }} - {{ formAction }}</h2>
    </div>
  </mat-card-header>

  <mat-card-content style="padding-top: 10px">
    <div>
      <form [formGroup]="form" *ngIf="config">
        <formly-form
          [model]="model"
          [fields]="fields"
          [form]="form"
          [options]="options"
        >
        </formly-form>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="text-align-last: end; width: 100%">
      <button
        style="margin: 5px"
        mat-button
        (click)="goBack()"
        *ngIf="config.onCancelRoute"
      >
        Cancel
      </button>
      <button
        style="margin: 5px"
        mat-button
        (click)="resetBtn('reset')"
        *ngIf="!this.id"
      >
        Reset
      </button>
      <button
        style="margin: 5px"
        mat-raised-button
        color="warn"
        (click)="frmSubmit(this.config)"
      >
        {{ butText }}
      </button>
      <button
        style="margin: 5px"
        mat-raised-button
        color="warn"
        (click)="frmSubmit(this.config)"
        *ngIf="this.config.emailButton"
      >
        <span *ngIf="!this.id">Save & Send Email</span>
        <span *ngIf="this.id">Update & Send Email</span>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
<div *ngIf="isDataError">
  <mat-icon color="warn">error</mat-icon>
  <span>Given ID is not valid</span>
</div>